In [1]:
# All common imports
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

# All common variables
PROJECT_ROOT = Path().resolve().parent
db_file_path = PROJECT_ROOT / 'credit_data.db'
engine = create_engine(f'sqlite:///{db_file_path}')

print("Setup Complete. Engine is ready.")

Setup Complete. Engine is ready.

In [2]:
# Read CSV and write to DB
csv_file_path = PROJECT_ROOT / 'data' / 'loan_approval_dataset.csv'
df = pd.read_csv(csv_file_path)
df.to_sql('loan_data', con=engine, if_exists='replace', index=False)
print("Data loaded to DB.")

Data loaded to DB.

In [3]:
# Read from DB using the engine from the Setup Cell
query = "SELECT * FROM loan_data LIMIT 5"
df_from_db = pd.read_sql(query, con=engine)
display(df_from_db)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [4]:
# Load the full table into a pandas DataFrame for analysis.
query_all = "SELECT * FROM loan_data"
df_full = pd.read_sql(query_all, con=engine)

# --- Strip whitespace from all column names ---
df_full.columns = df_full.columns.str.strip()

In [5]:
df_full.drop(columns=['loan_id'], inplace=True)
print("--- 'loan_id' column removed. Updated DataFrame columns: ---")
print(df_full.columns)

--- 'loan_id' column removed. Updated DataFrame columns: ---
Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')